// colors
$color-white: #FFFFFF;
$color-lightblue: #2196F3;
$color-hover: #F1FCFF;
$color-lightgray: #DFE5EC;
$color-gray: #A0B0B9;
$color-darkgray: #4A4A4A;

// breakpoint
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
