$breakpoint: 576px;

.tickets__item {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;

  @media screen and (min-width: $breakpoint) {
    padding: 20px;
  }
}

.tickets__table {
  width: 100%;
  border-collapse: collapse;
}

.tickets__price {
  color: #2196F3;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;

  @media screen and (min-width: $breakpoint) {
    line-height: 24px;
    font-size: 24px;
  }
}

.tickets__logo {
  max-height: 30px;
}

.table__body:before {
  content: '';
  display: block;
  height: 8px;

  @media screen and (min-width: $breakpoint) {
    height: 10px;
  }
}

.tickets__cell {
  width: 33.33%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tickets__label {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
  display: block;

  @media screen and (min-width: $breakpoint) {
    font-size: 12px;
    line-height: 18px;
  }
}

.tickets__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #4A4A4A;

  @media screen and (min-width: $breakpoint) {
    font-size: 14px;
    line-height: 21px;
  }
}
